.Imain {
    height: 70vh;

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        align-self: flex-end;
        text-transform: uppercase;
        animation: changeColor 800ms ease-out infinite alternate;
    }

    @keyframes changeColor {
        0% {
            color: gainsboro;
        }

        50% {
            color: silver;
        }

        100% {
            color: grey;
        }
    }

    p {
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
        font-weight: bold;
    }
}

.titleGallery {
    background-color: #000;
    margin-top: -3rem;

    h1 {
        color: white;
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 4rem;
    }
}