.Imain {
    height: 60vh;

    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        align-self: flex-end;
    }

    p {
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
    }
}